@using Farm_Management_System.farm_Management_SystemModel
@model financial_Column_Model

<div class="boder p-3">
    <div>
        <a asp-controller="Financial" asp-action="financial_Information_Page" class="btn btn-primary">Back to Transaction List</a>
        <br />
    </div>
    <div>
        <h2 class="text-black-50-primary">Check Attribute to Display</h2>
        <br />
    </div>
    <form method="post">
        @foreach (var transaction_Property in Model.Financial.GetType().GetProperties().Where(p => p.Name != "AdminUpdateNavigation" && p.Name != "TransactionProjectNavigation"))
        {
            <div>
                <input type="checkbox" name="selected_Transaction_Attribute" value="@transaction_Property.Name" />@transaction_Property.Name
            </div>
        }
        <button type="submit">Submit</button>
    </form>
</div>